.available {
    border: 3px solid var(--available-color);
    /* background-color: var(--available-bg-color); */
    background: var(--available-bg-color);
}
.occupied {
    border: 3px solid var(--occupied-color); 
    /* background-color: var(--occupied-bg-color); */
    background: var(--occupied-bg-color);
}
.reserved {
    border: 3px solid var(--reserved-color); 
    /* background-color: var(--reserved-bg-color); */
    background: var(--reserved-bg-color);
}

.card-text{
    font-size: .75rem;
    font-weight: bold;
}

.card-container{
    width: 13rem;
    max-width: 25rem; 
    height: 9rem;
    margin: 0;
    padding: 0;
}

.card-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0.1rem;
    /* padding: 0.25rem; */
    background-color: inherit !important;
}

.btn-generic{
    font-size: .9rem;
    padding: .25rem;
    flex: 1;
}


