<ul class="nav nav-underline">
  
  @let isLogged = isLoggedIn();
  @if (isLogged) {
    <li class="nav-item">
      <a class="text-body-tertiary" [routerLink]="['home']">Home</a>
    </li>
    <li class="nav-item">
      <a class="text-body-tertiary" >Menu</a>
    </li>
    <li class="nav-item">
      <a class="text-body-tertiary" [routerLink]="['tables']">Mesas</a>
    </li>
    <li class="nav-item">
      <a class="text-body-tertiary" [routerLink]="['']">Principal</a>
    </li>
    <li class="nav-item">
      <a class="text-body-tertiary " (click)="logout()">Log out</a>
    </li>
  }

  @if (!isLogged) {
    <li class="nav-item">
      <a class="text-body-tertiary " [routerLink]="['login']">Log in</a>
    </li>

  }

</ul>