@if(this.productList | async; as productList){
    <table>
        <thead class="">
            <tr>
                <th>ID</th>
                <th>NOMBRE</th>
                <th>DESCRIPCION</th>
                <th>PRECIO</th>
                <th>STOCK</th>
                <th>CATEGORIA ID</th>
                <th>SUBCATEGORIA ID</th>
            </tr>
        </thead>
        <tbody>
            @for(product of productList; track product.id){
                <tr>
                    <th>{{ product.id }}</th>
                    <td>{{ product.name }}</td>
                    <td>{{ product.description }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.stock }}</td>
                    <td>{{ product.category.name }}</td>
                    <td>{{ product.subCategory.name}}</td>
                </tr>
            }
        </tbody>
    </table>
}

@if(errorMsg){
    <h2>No tienes permisos de acceso.</h2>
}
