<!-- Modelo de layout introduciendo mesas manualmente, en formato "grilla" -->
<main class="d-flex flex-lg-row flex-column align-items-center gap-3">
    <div>
        <h2 class="title text-center">Layout de mesas</h2>
        <div class="container text-center layout">
            <div class="row row-cols-lg-auto row-cols-md-8 row-cols-sm-4 gap-1">
               
                   @for(table of tables(); track $index){
                        @if(!this.selectedTable || selectedTable.id === table.id){
                            <app-table-component
                                [setTable]="table"
                                (selectedTable)="openMenu($event)"
                                (addProducts)="onAddProducts($event)"
                                (seeOrder)="onSeeOrder($event)"
                            />

                        }
                        @if(this.selectedTable && selectedTable.id === table.id){
                            <!-- <app-table-management 
                                [table] = "selectedTable"
                                [isOpen] = "menuIsOpen"
                                (backToTables)="backToTablesList()"
                                (closeMenu) = "closeMenu()"
                            /> -->

                            <app-table-management
                                [table]="selectedTable"
                                [products]="products()"
                                (close)="closeManager()"
                            />
                        }
                        
                   }
                   <!-- TODO: Implementar logica para permitir agregar mesas siendo admin o supervisor -->
                <!-- <div class="col p-1">
                    <button
                        id="add-table-button" 
                        type="button" 
                        class="btn btn-outline-secondary w-100 "
                        (click)="addTable()"    
                    >+</button>
                </div> -->
            </div>

            <!-- <div class="row row-cols-6 g-1">
                @for(table of tableManager.tables(); track $index){
                        <app-table-component
                            [setTable]="table"
                            (selectedTable)="openMenu($event)"
                            >
                        </app-table-component>
                }
                <div class="col p-1">
                    <button
                        id="add-table-button" 
                        type="button" 
                        class="btn btn-outline-secondary w-100 "
                        (click)="addTable()"    
                    >+</button>
                </div>
            </div> -->
        </div>
    </div>
    <!-- Side panel para las mesas -->
     @if(this.menuIsOpen && this.selectedTable){
        <!-- Sidepanel table-menu component -->
         
    }
</main>
