
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2.5rem 0;
  height: calc(100vh-5rem);
}
header {
  text-align: center;
  height: 2.5rem;
  background-color: var(--header-bg-color);
  color: var(--text-light-color);
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  align-items: center;
  justify-content: center;
  
}
footer {
  text-align: center;
  height: 2.5rem;
  background-color: var(--footer-bg-color);
  color: var(--text-light-color);
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100dvw;
  align-items: center;
  justify-content: center;
}