.side-menu {
  width: 60dvw;
  max-width: 70dvw;
  height: 100%;
  border-radius: 0.5rem;
  background-color: var(--table-management-bg-color);
  color: var(--text-dark-color);
  display: flex;
  flex-direction: column;
  transition: all 2s ease-in-out;
}

.side-menu-header,
.side-menu-footer {
  padding: .5rem;
  border-bottom: 1px solid var(--border-color);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.side-menu-footer {
  border-top: 1px solid var(--border-color);
  border-bottom: none;
}
.side-menu-footer input {
  width: 30%;
}
.side-menu-footer button {
  font-size: .9rem;
}

.side-menu-header h5 {
  margin: 0;
  text-align: left;
  vertical-align: middle;
  font-size: 1rem;
}

.side-menu-body {
  padding: 1rem;
  overflow-y: auto;
  flex-grow: 1;
  flex: 1;
  max-height: 80%;
}

.table-list{
  height: auto;
  max-height: 40vh;
  overflow-y: auto;
  border-radius: 0.25rem;
  font-size: .9rem;
  font-weight: 300;
}
tbody tr {
  cursor: pointer;
}
tbody tr td{
  padding: 0;
}

.edit-item-menu{
  width: 0;
  height: auto;
  border-radius: 0.5rem;
  color: var(--text-dark-color);
  display: flex;
  flex-direction: column;
}
.edit-item-menu.open {
  width: 300px;
  max-width: 40dvw;
  
}
.edit-item-menu-header,
.edit-item-menu-footer {
  padding: 1rem;
  border-bottom: 1px solid var(--text-dark-color);      
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.btn.btn-generic{
  margin: 0;
  padding: 0 0.7rem ;
  font-size: .9rem;
}
