.layout {
  width: auto;
  max-width: 90dvw;
  /* background-color: transparent; */
  /* border: 1px solid var(--border-color); */
  /* padding: 0;
  margin: 0;  */
}
/* Modificación estilos bootstrap */
/* #add-table-button:hover {
  background-color: #80624f;
  color: #F5EFE9;
}
#add-table-button {
  border-color: #80624f;
  color: #80624f;
  height: 3rem;
} */

.container {
  margin: 0;
  padding: 0;
}
.w6rem{
  width: 6rem;
}




