<!-- Modelo de layout introduciendo mesas -->
<main class="d-flex flex-column align-items-center mt-5 gap-2">
    <h2>Tables management</h2>
    <button 
    type="button" class="btn btn-success"
    (click)="addTable()">Add table
    </button>

    <div class="d-flex flex-lg-column flex-column align-items-center gap-3">
        <h3>All tables</h3>
        <div class="container text-center layout">
            <div class="row row-cols-lg-auto row-cols-md-8 row-cols-sm-auto gap-1">
                @if(loading()){
                    <p>Cargando mesas...</p>
                }
                @if(error()){
                    <p>{{error()}}</p>
                }

                @if(!loading() && !error()){
                    @for(table of this.tableStore.tables(); track $index){
                        <app-table-component
                            [table]="table"
                        />
                    }
                }

                <!-- @if (!errorMessage) {
                    @for(table of tables(); track $index){
                        @if(!selectedTable() || selectedTable()?.id === table.id){
                            <app-table-component
                                [table]="table"
                                [selectedTable]="selectedTable"
                                [menuTableIsOpen]="menuTableIsOpen"
                                [showProductsInManager]="showProductsInManager"
                                [showOrderInManager]="showOrderInManager"
                            /> -->
                            <!-- <app-table-component
                                [setTable]="table"
                                (selectedTable)="openMenu($event)"
                                (addProducts)="onAddProducts($event)"
                                (seeOrder)="onSeeOrder($event)"
                            /> -->
                        <!-- }
                    } -->
                    <!-- @if(this.menuTableIsOpen() && this.selectedTable() != null ){
                        <app-table-management 
                            [table] = "this.selectedTable"
                            [isOpen] = "menuTableIsOpen"
                            [products]="products"
                            [showProducts]="showProductsInManager"
                            [showOrder]="showOrderInManager"
                        />                    -->
                        <!-- @if(this.showProductsInManager() && !this.showOrderInManager()){
                            <app-table-management 
                                [table] = "this.selectedTable()!"
                                [isOpen] = "menuTableIsOpen"
                                [products]="products()"
                                [showProducts]="showProductsInManager()"
                                [showOrder]="showProductsInManager()"
                            />                   
                        }@else{
                            <app-table-management 
                                [table] = "this.selectedTable()!"
                                [isOpen] = "menuTableIsOpen"
                                [products]="products()"
                                [showProducts]="showProductsInManager()"
                                [showOrder]="showProductsInManager()"
                            />                   
                        } -->
                    <!-- } -->
                    <!-- @if(menuIsOpen && this.selectedTable && this.order != null){
                        <app-table-management 
                            [table] = "selectedTable"
                            [isOpen] = "menuIsOpen"
                            [products]="products()"
                            [order] = "order"
                            [showOrderItems]="true"
                            (closeMenu) = "closeManager()"
                        />                   
                    } -->
                    <!-- TODO: Implementar logica para permitir agregar mesas siendo admin o supervisor -->
                <!-- <div class="col p-1">
                    <button
                        id="add-table-button" 
                        type="button" 
                        class="btn btn-outline-secondary w-100 "
                        (click)="addTable()"    
                    >+</button>
                </div> -->
                <!-- }@else{
                    <h3 class="text-center">Error al cargar información.</h3>
                } -->
            </div>
        </div>
    </div>
</main>
