<h2 class="title text-center">ORDERS</h2>
    <div class="container d-flex text-center flex flex-column align-items-center gap-3">
        <button type="button" class="btn btn-success w-25" 
        (click)="generateNewOrder()">New Order</button>
        @if(this.showNewOrder()){
            <app-orders 
                [products]="this.products"
            />
        }
        <!-- <button type="button" class="btn btn-success">Take away</button>
        <button type="button" class="btn btn-success">Delivery</button>
        <button type="button" class="btn btn-success">Dine in</button> -->
    </div>