<!-- Contenedor de ordenes en curso -->
<h2 class="title text-center mt-2">Ordenes en curso</h2>
<app-order-carousel/>
<div class="container d-flex text-center flex flex-column align-items-center mb-2">
    <button type="button" class="btn btn-success" 
    (click)="generateNewOrder()" [disabled]="this.showNewOrder()">Registrar pedido</button>
    @if(this.showNewOrder()){
        <app-orders 
            (closeOrderForm)="onCloseForm()"/>
    }
    <!-- <button type="button" class="btn btn-success">Take away</button>
    <button type="button" class="btn btn-success">Delivery</button>
    <button type="button" class="btn btn-success">Dine in</button> -->
</div>