<form [formGroup]="tableForm" class="container mt-3">

  <div class="row g-3">

    <!-- Número de mesa -->
    <div class="col-12 col-md-6">
      <label class="form-label">Número de mesa</label>
      <input
        type="number"
        class="form-control"
        placeholder="Ej: 12"
        formControlName="number"
      />
      @if(tableForm.get('number')?.touched &&
       ((tableForm.get('number')?.hasError('min')) || (tableForm.get('seats')?.hasError('required')))){
        <p class="text-danger">{{getFormErrorMessage('number')}}</p>
      }
    </div>

    <!-- Cantidad de asientos -->
    <div class="col-12 col-md-6">
      <label class="form-label">Asientos</label>
      <input
        type="number"
        class="form-control"
        placeholder="Ej: 4"
        formControlName="seats"
      />
      @if(tableForm.get('seats')?.touched && 
        (tableForm.get('seats')?.hasError('min') || tableForm.get('seats')?.hasError('max')) || (tableForm.get('seats')?.hasError('required'))){
        <p class="text-danger">{{getFormErrorMessage('seats')}}</p>
      }
    </div>

    <!-- Estado -->
    @if(this.tableID !== 0){
      <div class="col-12 col-md-6">
        <label class="form-label">Estado</label>
        <select class="form-select" formControlName="status">
          <option value="AVAILABLE">Disponible</option>
          <option value="OCCUPIED">Ocupada</option>
          <option value="RESERVED">Reservada</option>
        </select>
      </div>
    } 

    <!-- Ubicación -->
    <div class="col-12 col-md-6">
      <label class="form-label">Ubicación</label>
      <select class="form-select" formControlName="location">
        <option value="INDOOR">Interior</option>
        <option value="OUTDOOR">Exterior</option>
      </select>
      
    </div>

    <!-- Orden (solo mostrar si existe) -->
     <!-- @if(tableForm.value.order){

         <div class="col-12" *ngIf="tableForm.value.order">
           <label class="form-label">Orden asociada</label>
           <div class="alert alert-info p-2">
             Orden ID: {{ tableForm.value.order?.id }}  
           </div>
         </div>
     } -->
    @if(tableForm.invalid){
      <div class="col-12 mt-3 d-flex justify-content-center gap-2">
        <p></p>
      </div>
    }
    <!-- Botones -->
    <div class="col-12 mt-3 d-flex justify-content-end gap-2">
      <button type="button" class="btn btn-secondary" (click)="onCancel()">
        Cancelar
      </button>

      <button type="submit" class="btn btn-primary" (click)="save()" [disabled]="tableForm.invalid">
        Guardar
      </button>
    </div>

  </div>

</form>
