:root{
  /* --body-bg-color: #ebd1c9; */
  --body-bg-color: #ececeb;
  --gray: #c4c4c4;
  --table-management-bg-color: #dadadac4;
  --table-text-color: #F5EFE9;
  --available-color: #4caf4fa9;
  /* --available-bg-color: #90ee904d; */
  --available-bg-color: linear-gradient(135deg, rgba(180, 240, 200, 0.85) 0%, rgba(70, 200, 120, 0.9) 100%);
  --occupied-color: #f4433698;
  /* --occupied-bg-color: #f7a2a24d; */
  --occupied-bg-color: linear-gradient(135deg, rgba(255, 190, 190, 0.85) 0%, rgba(230, 70, 70, 0.9) 100%);
  --reserved-color: #ff99009d;
  /* --reserved-bg-color: #e0aa334d; */
  --reserved-bg-color: linear-gradient(135deg, rgba(255, 220, 180, 0.85) 0%, rgba(255, 160, 70, 0.9) 100%);

  --border-color: #838383b0;

  --text-dark-color: #333;
  --text-light-color: #F5EFE9;
}
* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--text-dark-color);
}


body {
  background-color: var(--body-bg-color);
}

.col {
  padding: 0;
  margin: 0;
}
.row {
  margin: 0;
  padding: 0;
}